*{
    box-sizing: border-box;
}
body{
    background-image: url("/assets/images/bg4.jpg");
}

.row{
    display: flex;
}
.content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}